<script src="https://code.jquery.com/jquery.js"></script>

<div class="jumbotron">
  <h1 class="display-4">Duke Blue Devils News</h1>
  <p class="lead">Articles from the Raleigh News Observer</p>
  <hr class="my-4">
  <p>Press the button below to gather new articles!</p>
  <a class="btn btn-primary btn-lg" href="/scrape" role="button">New Articles</a>
</div>

<div class="unreadArticles" id="articles">
  <div class="alert alert-danger" role="alert">
    Unread articles
  </div>
  {{#each dbArticles}}
  {{#unless read}}
  <div class="media" data-id="{{_id}}">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Duke_Athletics_logo.svg/1146px-Duke_Athletics_logo.svg.png"
      id="dukeLogo" class="mr-3" alt="Duke Iron D Logo">
    <div class="media-body">
      <a href="{{link}}">
        <h5 class="mt-0">{{title}}</h5>
      </a>
      {{summary}}
    </div>
    <button type="button" id="notes-btn" class="btn btn-dark" data-id="{{_id}}">Add Notes</button>
    <button type="button" id="read-btn" class="btn btn-danger">Mark As Read</button>
  </div>
  {{/unless}}
  {{/each}}
</div>

<div class="readArticles" id="articles">
  <div class="alert alert-primary" role="alert">
    Articles previously read
  </div>

  {{#each dbArticles}}
  {{#if read}}
  <div class="media">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Duke_Athletics_logo.svg/1146px-Duke_Athletics_logo.svg.png"
      id="dukeLogo" class="mr-3" alt="Duke Iron D Logo">
    <div class="media-body">
      <a href="{{link}}">
        <h5 class="mt-0">{{title}}</h5>
      </a>
      {{summary}}
    </div>
    <button type="button" id="notes-btn" class="btn btn-dark">Add Notes</button>
    <button type="button" id="unread-btn" class="btn btn-warning">Mark as Unread</button>
  </div>
  {{/if}}
  {{/each}}
</div>


<script>

  $("#notes-btn").on("click", function () {
    var thisId = $(this).attr("data-id");
    window.location = "/articles/" + thisId    
  })
//    $("#read-btn").on("click", function () {
//      console.log("readbtn pushed")
      //$.ajax({
       // method: "GET",
      //  url: "/read"
    //  }).then(function (readArticles) {
    //    var readArticles = {
       //   readArticles: readArticles
      //  }
       // res.render("notes", dbArticles)

     // })
  //  })
   // $("#unread-btn").on("click", function () {
     // console.log("unreadbtn pushed")
     // $.ajax({
      //  method: "GET",
       // url: "/read"
     // }).then(function (readArticles) {
       // var readArticles = {
         // readArticles: readArticles
       // }


     // })
  //  })
</script>